/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}

html {
  color: #030303;
  font: caption;

}
body{
  background-color:#fffafa;
}

a {
  color: #1f4ba0;
  text-decoration: underline;
}

header {
  padding: 2em;
}

header .logo {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

footer {
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

footer p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.home .athletes-selector {
  clear: both;
  padding: 3.5em;
  text-align: center;
}

.home .athletes-selector .athlete-preview {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  margin: 25px 25px 25px 25px;
  max-width: 250px;
  padding: 0;
  position: relative;
  width: 100%;
  border-radius:20px;

}
.mentor-splash .athlete-preview {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  margin: 25px 25px 25px 25px;
  max-width: 250px;
  padding: 0;
  position: relative;
  width: 100%;
  border-radius:20px;
}

.athlete-preview img {
  margin: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.athlete-preview .mentor-info{
  padding:2.5px 5px 2.5px 5px;
  background-color: #222;
  width:100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.athlete-preview .name {
  color: #fffafa;
  display: inline-block;
  font-size: 1.6em;
  overflow: hidden;
  padding: 7.5px 5px 2.5px 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.athlete-preview .position {
  color: #73af59;
  display: inline-block;
  font-size: 1.2em;
  overflow: hidden;
  padding: 2.5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  font-family: 'Open Sans',sans-serif;
}
.athlete-preview .company {
  color: #73af59;
  display: inline-block;
  font-size: 1.2em;
  overflow: hidden;
  padding: 2.5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  font-family: 'Open Sans',sans-serif;
}



/*.mentor-splash .athlete-preview img {
  margin: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mentor-splash .athlete-preview .name {
  color: #fffafa;
  display: inline-block;
  font-size: 1.6em;
  overflow: hidden;
  padding: .2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.mentor-splash .athlete-preview .position {
  color: #73af59;
  display: inline-block;
  font-size: 1.2em;
  overflow: hidden;
  padding: .2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  font-family: 'Open Sans',sans-serif;
}*/

nav.athletes-menu {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

nav.athletes-menu a {
  font-size: 1.6em;
  margin: 0 1em 1em 0;
}

nav.athletes-menu a.active {
  color: #030303;
  text-decoration: none;
}

.athlete {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  position:relative;
}

.mentor-header {
  /*background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 100%;
}

/*.mentor-name-position {
  margin: -130px 0 0 0;
  padding: 0 25px 0 25px;

}*/
.athlete .mentor-name-position-container{
  display:inline-block;
  position:relative;
  background-color: #222;
  width:100%;

}

.athlete .mentor-name-position{
  text-align:right;
  margin-right: 50px;
  padding:10px 0 10px 10px;
}

.athlete .mentor-cover{
  width:100%;
  position:relative;
  height: 200px;
}

.athlete .mentor-photo {
  border: 6px solid #fffafa;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  width: 200px;
  height: 200px;
  position:absolute;
  left:50px;
  top:50px;
  z-index: 1;

}

.athlete .name {
  position:relative;

  display: block;
  font-size: 3em;
  padding: 0 0 0 10px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  color: #fffafa;
}
.athlete .position {
  position:relative;
  display: block;
  font-size: 2em;
  padding: 0 0 0 10px;
  width: auto;
  color: #73af59;
  font-family: 'Open Sans', sans-serif;
}
.athlete .mentor-about{
  padding: 10px 50px 10px 50px;
}

.navigateBack {
  margin-top:20px;
  margin-bottom:20px;
  margin-left:145px;
  font-size: 18px;
  border-radius:5px;
  text-decoration: underline;
  color:#333;
  font-family:'Roboto',sans-serif;
}

#abar {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

#abar a {
  background: #ffa500;
  color: #000;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#abar a:hover {
  text-decoration: underline;
}

.navbar{
  margin-bottom:0px;
}

.navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    color:#fffafa;

    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color:#73af59;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus{
  color:#73af59;
  background-color:#080808;
}

.navbar-inverse .navbar-brand {
    text-decoration: none;
    color:#73af59;

    font-family: 'Roboto', sans-serif;
    font-size:17px;
}
.founders{

  text-align:center;
  margin-bottom:20px;
}

.founder-window{
  display:inline-block;
  width:250px;
  text-align:center;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.founder-window .founder-name{
  font-family: 'Open Sans', sans-serif;
}
.founder-window .founder-education{
  font-family: 'Roboto', sans-serif;
}
.founder-window .founder-degree{
  font-family: 'Roboto', sans-serif;
}
.founder-window .founder-message{
  font-family: 'Open Sans', sans-serif;
}
footer{
  background-color: #222;
  border-radius:5px;
  max-width:100%;
  margin:0px;
  padding:0.5em;
}
.contact-us{
  color:#73af59;
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
}
.contact-us u{
  color:white;
  font-size:18px;
}
.about{
  margin-left: 143px;
  margin-right: 143px;
}
.athlete-full{
  margin-bottom:40px;
}
.splash-container{
  background-image:url(../img/handry-satriago-cover.jpg);
  position:relative;
  display:block;
  height:500px;
  background-size:100%;
}
/*.splash-container img{
  position: absolute;
  left:0;
  top:0;
  background-size:100%;
  width: 100%;
}*/
.splash-container h1{
  position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
.about-splash{
  background-color: #000;
  height:500px;
  display:block;
}
.mentor-splash{
  text-align:center;
}
.mentors-header-label{
  margin-top: 40px;
  background-color: #333;
  color: #fffafa;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 140px;
  text-align:right;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
}
.mentor-splash-button{
  margin-bottom:20px;
}
.profile-label{
  color: white;
  background-color: #333;
  padding: 5px 10px 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  display:inline-block;
}

.profile-content{
  color:#333;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  margin-top:5px;
  margin-bottom:10px;
}
.mentor-profile-container{
  position:relative;
  width:100%;

}

.directional-buttons{
  height: 100%;
  display: inline-block;
  width: 100%;
  position: absolute;

}
.directional-buttons .nextButton{
  margin-top:150px;
  position:absolute;
  right:0;
  text-align: right;
}
.directional-buttons .prevButton{
  margin-top:150px;
  position:absolute;
  left:0;
}
.directional-buttons .nextButton .name{

  margin:auto;
  padding-right:10px;
  font-size:16px;
  color:#333;

}
.directional-buttons .nextButton .right-arrow{
  padding-right:10px;
  font-size:128px;
  color:#333;
}
.directional-buttons .prevButton .name{
  padding-left:10px;
  margin:auto;
  font-size:16px;
  color:#333;
}

.directional-buttons .prevButton .left-arrow{
  padding-left:10px;

  font-size:128px;
  color:#333;
}
